<a href="https://colab.research.google.com/github/Sakshi-agarwal8/DS-AI/blob/master/HW/Kaggle_CreditRisk_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kaggle

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kaggleid123456789","key":"56da27013577cce20e6f40d2b8d01a4e"}'}

In [5]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [6]:
! cp kaggle.json ~/.kaggle/

In [7]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
 ! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                         title                                                size  lastUpdated          downloadCount
----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge           COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-06-29 17:04:40          85417
roche-data-science-coalition/uncover                        UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          14816
mikahama/the-best-sarcasm-annotated-dataset-in-spanish      The Best Sarcasm Annotated Dataset in Spanish        26KB  2020-06-21 16:50:44             84
jessemostipak/caribou-location-tracking                     Caribou Location Tracking                             6MB  2020-06-22 21:44:58            170
shubh0799/churn-modelling                                   Churn Modelling                                     262KB  2020-06-20 17:33:28            732
madeleineferguson/farmers-markets-in-the-united-states      Farmers Markets in the United States                816KB  2020-06-10 16:41:46            927
promptcloud/jobs-on-naukricom                               Jobs On Naukri.com                                    3MB  2020-06-15 10:51:07            958
yeayates21/garage-detection-unofficial-ssl-challenge        Garage Detection Unofficial SSL Challenge            33MB  2020-06-18 14:00:08             95
rohan0301/unsupervised-learning-on-country-data             Unsupervised Learning on Country Data                 5KB  2020-06-17 07:45:45            725
josehenriqueroveda/fertilizers-by-product-fao               Fertilizers by Product FAO                            1MB  2020-06-16 13:01:07            467
benroshan/factors-affecting-campus-placement                Campus Recruitment                                    5KB  2020-04-11 11:09:02          10111
bobbyscience/league-of-legends-diamond-ranked-games-10-min  League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           4225
fireballbyedimyrnmom/us-counties-covid-19-dataset           US counties COVID 19 dataset                          3MB  2020-07-04 12:37:43           9466
divyansh22/flight-delay-prediction                          January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           3461
clmentbisaillon/fake-and-real-news-dataset                  Fake and real news dataset                           41MB  2020-03-26 18:51:15           8641
ikiulian/global-hospital-beds-capacity-for-covid19          Global Hospital Beds Capacity (for covid-19)        284KB  2020-04-26 09:39:35           2919
praveengovi/coronahack-chest-xraydataset                    CoronaHack -Chest X-Ray-Dataset                       1GB  2020-03-20 01:26:40           4315
bappekim/air-pollution-in-seoul                             Air Pollution in Seoul                               20MB  2020-04-03 16:33:49           4457
kimjihoo/coronavirusdataset                                 Data Science for COVID-19 (DS4C)                      7MB  2020-07-01 06:11:23          45823
sudalairajkumar/novel-corona-virus-2019-dataset             Novel Corona Virus 2019 Dataset                       2MB  2020-07-01 05:35:59         222124

In [8]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading HomeCredit_columns_description.csv to /content
  0% 0.00/36.5k [00:00<?, ?B/s]
100% 36.5k/36.5k [00:00<00:00, 32.0MB/s]
Downloading POS_CASH_balance.csv.zip to /content
 98% 106M/109M [00:00<00:00, 173MB/s]
100% 109M/109M [00:00<00:00, 171MB/s]
Downloading application_test.csv.zip to /content
 86% 5.00M/5.81M [00:00<00:00, 14.8MB/s]
100% 5.81M/5.81M [00:00<00:00, 16.7MB/s]
Downloading application_train.csv.zip to /content
 94% 34.0M/36.1M [00:00<00:00, 111MB/s]
100% 36.1M/36.1M [00:00<00:00, 101MB/s]
Downloading credit_card_balance.csv.zip to /content
 88% 85.0M/96.7M [00:00<00:00, 141MB/s]
100% 96.7M/96.7M [00:00<00:00, 179MB/s]
Downloading installments_payments.csv.zip to /content
 94% 254M/271M [00:01<00:00, 141MB/s]
100% 271M/271M [00:01<00:00, 164MB/s]
Downloading previous_application.csv.zip to /content
 73% 56.0M/76.3M [00:00<00:00, 65.9MB/s]
100% 76.3M/76.3M [00:00<00:00, 128MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/524k [00:00<?, ?B/s]
100% 524k/524k [00:00<00:00, 75.6MB/s]
Downloading bureau_balance.csv.zip to /content
 65% 37.0M/56.8M [00:00<00:00, 91.6MB/s]
100% 56.8M/56.8M [00:00<00:00, 128MB/s]
Downloading bureau.csv.zip to /content
 87% 32.0M/36.8M [00:00<00:00, 89.9MB/s]
100% 36.8M/36.8M [00:00<00:00, 101MB/s]

In [9]:
! mkdir train

In [17]:
! unzip POS_CASH_balance.csv.zip -d train

Archive:  POS_CASH_balance.csv.zip
  inflating: train/POS_CASH_balance.csv

In [18]:
import pandas as pd

In [19]:
previous_application=pd.read_csv('/content/train/previous_application.csv')

In [44]:
test=pd.read_csv('/content/train/application_test.csv')

In [45]:
train=pd.read_csv('/content/train/application_train.csv')

In [22]:
sample_submission=pd.read_csv('/content/sample_submission.csv')

In [23]:
POS_CASH_balance=pd.read_csv('/content/train/POS_CASH_balance.csv')

In [24]:
bureau=pd.read_csv('/content/train/bureau.csv')

In [25]:
bureau_balance=pd.read_csv('/content/train/bureau_balance.csv')

In [26]:
credit_card_balance=pd.read_csv('/content/train/credit_card_balance.csv')

In [27]:
installments_payments=pd.read_csv('/content/train/installments_payments.csv')

In [46]:
train.shape

(307511, 122)

In [47]:
test.shape

(48744, 121)

In [48]:
# Checking na values
train.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [60]:
train.columns[train.isnull().sum()>0]

Index(['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'OWN_CAR_AGE',
       'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [62]:
test.columns[test.isnull().sum()>0]

Index(['AMT_ANNUITY', 'NAME_TYPE_SUITE', 'OWN_CAR_AGE', 'OCCUPATION_TYPE',
       'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
       'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG',
       'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
       'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI',
       'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE',
       'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [64]:
# segregate numerical columns
numeric_cols=train.select_dtypes(include=['number']).columns
numeric_cols

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=106)

In [65]:
# segregate categorical columns
categorical_cols=set(train.columns)-set(numeric_cols)
categorical_cols

{'CODE_GENDER',
 'EMERGENCYSTATE_MODE',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'NAME_CONTRACT_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'NAME_INCOME_TYPE',
 'NAME_TYPE_SUITE',
 'OCCUPATION_TYPE',
 'ORGANIZATION_TYPE',
 'WALLSMATERIAL_MODE',
 'WEEKDAY_APPR_PROCESS_START'}

In [67]:
# Impute numerical columns with mean of that column
for cols in numeric_cols:
  train[cols] = train[cols].fillna(train[cols].mean())

In [68]:
train['CODE_GENDER'].mode()[0]

'F'

In [69]:
# Impute categorical columns with mode of that column
for cols in categorical_cols:
  train[cols] = train[cols].fillna(train[cols].mode()[0])

In [70]:
train.columns[train.isnull().sum()>0]

Index([], dtype='object')

In [71]:
train.shape

(307511, 122)

In [72]:
train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                  0.000000                   1.000000
1      100003       0  ...                  0.000000                   0.000000
2      100004       0  ...                  0.000000                   0.000000
3      100006       0  ...                  0.265474                   1.899974
4      100007       0  ...                  0.000000                   0.000000

[5 rows x 122 columns]

In [83]:
x=train.iloc[:,2:]
y=train.iloc[:,1]

In [84]:
x.shape

(307511, 120)

In [85]:
y.shape

(307511,)

In [86]:
# creating dummy data
x=pd.get_dummies(x)

In [87]:
x.head()

   CNT_CHILDREN  ...  EMERGENCYSTATE_MODE_Yes
0             0  ...                        0
1             0  ...                        0
2             0  ...                        0
3             0  ...                        0
4             0  ...                        0

[5 rows x 244 columns]

In [90]:
# scaling the data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [92]:
x

array([[-0.57753784,  0.14212925, -0.47809496, ..., -0.13321491,
         0.08733962, -0.08733962],
       [-0.57753784,  0.42679193,  1.7254498 , ..., -0.13321491,
         0.08733962, -0.08733962],
       [-0.57753784, -0.4271961 , -1.15288792, ..., -0.13321491,
         0.08733962, -0.08733962],
       ...,
       [-0.57753784, -0.06662338,  0.19537871, ..., -0.13321491,
         0.08733962, -0.08733962],
       [-0.57753784,  0.00928667, -0.56875681, ..., -0.13321491,
         0.08733962, -0.08733962],
       [-0.57753784, -0.04764587,  0.18875991, ..., -0.13321491,
         0.08733962, -0.08733962]])

In [99]:
y=y.values

In [100]:
# splitting data into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [102]:
# Applying Logistic Regression
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [103]:
pred = log_reg.predict(x_test)

In [115]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

print('accuracy_score',accuracy_score(y_test, pred))

accuracy_score 0.9194023055785897

In [119]:
print('confusion_matrix\n',confusion_matrix(y_test,pred))

confusion_matrix
 [[56479    75]
 [ 4882    67]]

In [120]:
print('classification_report\n',classification_report(y_test, pred))

classification_report
               precision    recall  f1-score   support

           0       0.92      1.00      0.96     56554
           1       0.47      0.01      0.03      4949

    accuracy                           0.92     61503
   macro avg       0.70      0.51      0.49     61503
weighted avg       0.88      0.92      0.88     61503

In [108]:
# Applying Random Forest
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(criterion='gini', max_depth=150)
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=150, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [109]:
y_pred = rfc.predict(x_test)

In [118]:
print('confusion_matrix\n',confusion_matrix(y_test,y_pred))

confusion_matrix
 [[56551     3]
 [ 4944     5]]

In [121]:
print('accuracy_score',accuracy_score(y_test, y_pred))

print('classification_report\n',classification_report(y_test, y_pred))

accuracy_score 0.9195648992732062
classification_report
               precision    recall  f1-score   support

           0       0.92      1.00      0.96     56554
           1       0.62      0.00      0.00      4949

    accuracy                           0.92     61503
   macro avg       0.77      0.50      0.48     61503
weighted avg       0.90      0.92      0.88     61503

In [112]:
# Applying XGBoost Classifier
from xgboost import XGBClassifier

xgb = XGBClassifier(learning_rate=0.001)

xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.001, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [113]:
prediction = xgb.predict(x_test)

In [122]:
print('accuracy_score',accuracy_score(y_test, prediction))

accuracy_score 0.9195323805342829

In [124]:
print('confusion_matrix\n',confusion_matrix(y_test,prediction))

confusion_matrix
 [[56554     0]
 [ 4949     0]]

In [123]:
print('classification_report\n',classification_report(y_test, prediction))

classification_report
               precision    recall  f1-score   support

           0       0.92      1.00      0.96     56554
           1       0.00      0.00      0.00      4949

    accuracy                           0.92     61503
   macro avg       0.46      0.50      0.48     61503
weighted avg       0.85      0.92      0.88     61503

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [125]:
# Applying Naive Bayes
from sklearn.naive_bayes import GaussianNB
naive_bayes=GaussianNB()
naive_bayes.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [126]:
naive_pred=naive_bayes.predict(x_test)

In [128]:
print('confusion_matrix\n',confusion_matrix(y_test,naive_pred))

confusion_matrix
 [[ 2447 54107]
 [  112  4837]]

In [129]:
print('accuracy_score',accuracy_score(y_test, naive_pred))
print('classification_report\n',classification_report(y_test,naive_pred))

accuracy_score 0.11843324715867519
classification_report
               precision    recall  f1-score   support

           0       0.96      0.04      0.08     56554
           1       0.08      0.98      0.15      4949

    accuracy                           0.12     61503
   macro avg       0.52      0.51      0.12     61503
weighted avg       0.89      0.12      0.09     61503