<a href="https://colab.research.google.com/github/Sakshi-agarwal8/DS-AI/blob/master/CW/AI_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Read any csv file or any json file in df with 6 cols atleast and 1000 rows

2) Split the file into test and train using pandas with a user input for the ratio of split

3)traverse each row and each column of the dataframe

4) Write a function to query if a values exists in the dataframe and return its complete column and complete row separately

5) Apply 3 and 4 to Train and Test

6) From the list of columns , construct all combinations of 3 values and for each combination combine their row values as  a combined column

In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('/content/Book1.csv')
df.head()

   PassengerId  Survived  Pclass  SibSp  Parch  Fare
0            1         0       3      1      0     7
1            2         1       1      1      0    71
2            3         1       3      0      0     8
3            4         1       1      1      0    53
4            5         0       3      0      0     8

In [8]:
df.shape

(1083, 6)

In [17]:
split_ratio=input("Enter the ratio of split of file into train and test")
split_ratio

Enter the ratio of split of file into train and test80:20

'80:20'

In [29]:
size=int(len(df)*0.8)
size

866

In [30]:
train=df.iloc[:size]
train.shape

(866, 6)

In [31]:
test=df.iloc[size:]
test.shape

(217, 6)

In [32]:
cols=list(df.columns)
cols

['PassengerId', 'Survived', 'Pclass', 'SibSp', 'Parch', 'Fare']

In [ ]:
for col in cols:
  for i in range(len(df)):
    print(df.loc[i,col])

In [38]:
for i,j in df.iteritems():
  print(i,j)

PassengerId 0         1
1         2
2         3
3         4
4         5
       ...
1078    826
1079    827
1080    828
1081    829
1082    830
Name: PassengerId, Length: 1083, dtype: int64
Survived 0       0
1       1
2       1
3       1
4       0
       ..
1078    0
1079    0
1080    1
1081    1
1082    1
Name: Survived, Length: 1083, dtype: int64
Pclass 0       3
1       1
2       3
3       1
4       3
       ..
1078    3
1079    3
1080    2
1081    3
1082    1
Name: Pclass, Length: 1083, dtype: int64
SibSp 0       1
1       1
2       0
3       1
4       0
       ..
1078    0
1079    0
1080    0
1081    0
1082    0
Name: SibSp, Length: 1083, dtype: int64
Parch 0       0
1       0
2       0
3       0
4       0
       ..
1078    0
1079    0
1080    2
1081    0
1082    0
Name: Parch, Length: 1083, dtype: int64
Fare 0        7
1       71
2        8
3       53
4        8
        ..
1078     7
1079    56
1080    37
1081     8
1082    80
Name: Fare, Length: 1083, dtype: int64

In [39]:
num=71
def query(df):
  row=[]
  col=[]
  for i in df.columns:
    for j in range(len(df[i])):
      if num in df[i][j]:
        col.append(df.loc[i])
        row.append(df[i])
    return row,col